
@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="span9">
    <div class="well well-small">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/a.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> $140.00</h3>                    
                    <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
        <hr class="soften">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/b.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> $140.00</h3>               
                    <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
        <hr class="soften">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/c.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                                   <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
        <hr class="soften">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/d.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> $140.00</h3>
                          <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
        <hr class="soften">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/e.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> $140.00</h3>
                    <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
        <hr class="soften">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/f.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> $140.00</h3>
                    <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
        <hr class="soften">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/g.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> $140.00</h3>
                    <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
        <hr class="soften">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/h.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> $140.00</h3>
                    <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
        <hr class="soften">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/i.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> $140.00</h3>
                    <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
        <hr class="soften">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/a.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> $140.00</h3>
                    <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
        <hr class="soften">
        <div class="row-fluid">
            <div class="span2">
                <img src="~/images/b.jpg" alt="">
            </div>
            <div class="span6">
                <h5>Product Name </h5>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                </p>
            </div>
            <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                    <h3> $140.00</h3>
                    <div class="btn-group">
                        <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                        <a href="product_details.html" class="shopBtn">VIEW</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


