@model IEnumerable<ProjectWebShop.Models.phone>
@{
    ViewBag.Title = "sanPhamTheoNhaSanXuat";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@foreach (var item in Model)
{
    <h2>@item.phoneName</h2>
}

