<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Login/css")

</head>



<body>
    <div class="limiter" style="background-color:aqua ;">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <section id="loginForm" class="login100-form validate-form">
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    @Scripts.Render("~/Login/js")
</body>
