<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">


</head>



<body>
    <div class="limiter" style="background-color:aqua ;">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <section id="loginForm" class="login100-form validate-form">
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/login/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/login/vendor/select2/select2.min.js"></script>
    <script src="~/Content/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/login/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/login/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/Content/login/js/main.js"></script>
</body>
