
@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div>
    <p style="font-size:15px">
        Cảm ơn bạn đã xác nhận mail. Vui lòng @Html.ActionLink("NHẤN VÀO ĐÂY", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

