
@{
    ViewBag.Title = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


        <div>

            <p style="font-size:15px"> Xin vui  lòng kiểm tra và xác nhận Email!!!</p>

        </div>
    

