
@{
    ViewBag.Title = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

            <h3> Xin vui  lòng kiểm tra và xác nhận Mail!!!</h3>

        </div>
    

