
@{
    ViewBag.Title = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


        <div>

            <h3> Xin vui  lòng kiểm tra và xác nhận Mail!!!</h3>

        </div>
    

