@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div>
    <h4 >
       Mật khẩu của bạn đã được đặt lại. Vui lòng  @Html.ActionLink("nhấn vào đây", "Login", "Account" ,routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h4>
</div>
