@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div>
    <p style="font-size:15px" >
       Mật khẩu của bạn đã được đặt lại. Vui lòng  @Html.ActionLink("Nhấn vào đây", "Login", "Account" ,routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
