@using PagedList.Mvc

@model PagedList.IPagedList<WebApplication1.Models.phone>
@{
    ViewBag.Title = "DanhSach";
   
}
<div id="phone_area">
    @{Html.RenderAction("GetPaging", "Shop", new { page = 1 });}
</div>
