
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutGioHang.cshtml";
}

<hr class="soften">
<div class="well well-small">
    <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4>
    <hr class="soften" />
    <div class="row-fluid">
        <div class="span8 relative">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2588533438684!2d106.78567241411717!3d10.867905960471916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276398969f7b%3A0x9672b7efd0893fc4!2zxJDhuqFpIEjhu41jIE7DtG5nIEzDom0!5e0!3m2!1svi!2s!4v1598605092278!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <div class="absoluteBlk">
                <div class="well wellsmall">
                    <h4>LIÊN HỆ CHI TIẾT</h4>
                    <h5>
                        Đại học Nông Lâm<br />
                        Thủ Đức, Thành phố HCM<br /><br />

                        Email:threeN@gmai.com<br />
                        Điện thoại: 0999997777<br />

                    </h5>
                </div>
            </div>
        </div>

        <div class="span4">
            <h4>Email</h4>
            <form class="form-horizontal">
                <fieldset>

                    <div class="control-group">

                        <input type="text" placeholder="Tên của bạn" class="input-xlarge" />

                    </div>
                    <div class="control-group">

                        <input type="text" placeholder="Tiêu đề" class="input-xlarge" />

                    </div>
                    <div class="control-group">
                        <textarea rows="3" id="textarea" class="input-xlarge"></textarea>

                    </div>

                    <button class="shopBtn" type="submit">Gửi</button>

                </fieldset>
            </form>
        </div>
    </div>


</div>
