@model IEnumerable<WebApplication1.Models.NhaXuatBan>

@foreach (var item in Model)
{
    <li><a href="@Url.Action("SpTheoNhaXuatBan", "Shop",new { id = item.MaNXB})" style="text-align:left"><span class="icon-align-left" style="color:ActiveCaption"></span>@item.TenNXB</a></li>
}



