@model IEnumerable<WebApplication1.Models.NhaXuatBan>

@foreach (var item in Model)
{
    <li><a href="@Url.Action("spTheoNhaXuatBan", "Shop",new { id = item.MaNXB})" style="text-align:left"><span class="icon-chevron-right "></span>@item.TenNXB</a></li>
}



