
@{
    ViewBag.Title = "ThongTinKhachHang";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="span9">
    <div class="row-fluid">
        <ul class="thumbnails">


            <table class="table table-hover">
                <tbody>
                    <h2 style="color:red; font-weight:bold; text-align:center">THÔNG TIN KHÁCH HÀNG</h2>
                    <tr>
                        <td><b>Tên tài khoản :</b></td>
                        <td style="color: #00a157">vonghi01</td>
                    </tr>
                    <tr>
                        <td><b>Họ và tên  :</b></td>
                        <td style="color: #00a157">vo van nghi</td>
                    </tr>
                    <tr>
                        <td><b>Ngày sinh :</b></td>
                        <td style="font-weight:bold"><input type="date"  /> </td>
                    </tr>
                    <tr>
                        <td><b>Địa chỉ :</b></td>
                        <td style="color: #00a157"></td>
                    </tr>
                    <tr>
                        <td><b>Số điện thoại :</b></td>
                        <td style="color: #00a157"></td>
                    </tr>

                </tbody>
            </table>
            <p>
                <button class="btn btn-success"><a style="color: white" href="chinhsuathongtin.html">Chỉnh sửa thông tin tài khoản </a></button>
            </p>

        </ul>
     
    </div>

    </div>