
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong khoảng thời gian sớm nhất.</h2>
<button class=" btn btn-default ">
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Shop")
</button>
