<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/55d7bc8a-24f8-4548-89dc-5521e8e2dfdd/resourceGroups/test/providers/Microsoft.Web/sites/testprojectaspnet</ResourceId>
    <ResourceGroup>test</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testprojectaspnet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>testprojectaspnet.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>testprojectaspnet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$testprojectaspnet</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Server=testprojectzxc.mysql.database.azure.com; Port=3306; Database=asp_data; Uid=project@testprojectzxc; Pwd=0985974620a@; SslMode=Preferred;convert zero datetime=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApplication1.Models.ApplicationDbContext, WebApplication1" MigrationConfiguration="WebApplication1.Migrations.Configuration, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=testprojectzxc.mysql.database.azure.com; Port=3306; Database=asp_data; Uid=project@testprojectzxc; Pwd=0985974620a@; SslMode=Preferred;convert zero datetime=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>