
@{
    ViewBag.Title = "QuanlyDienThoai";
    Layout = "~/Views/Shared/_LayoutAdminHeader.cshtml";
}

<!-- partial -->
<div class="col-xs-12">
    <table id="datatable-buttons" class="table table-striped table-bordered dataTable no-footer" role="grid"
           aria-describedby="datatable-buttons_info">
        <thead>
            <tr role="row">
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="SST: activate to sort column ascending" style="width: 50px;">STT</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Tên sản phẩm: activate to sort column ascending" style="width: 200px;">Tên sản phẩm</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Kiểu điện thoại: activate to sort column ascending" style="width: 200px;">Kiểu điện thoại</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Hãnh sản xuất: activate to sort column ascen    ding" style="width: 200px;">Hãng sản xuất</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Giá: activate to sort column ascending" style="width: 150px;">Giá</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Thao tác: activate to sort column ascending" style="width: 150px;">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- phần xóa  -->
                <td class="center">
                    <a data-toggle="modal" data-target="#myModal1" style="display: inline-block">
                        <button title="Xóa bài viết" type="button" class="btn btn-xs btn-danger btn-round text-center">
                            <i class="ace-icon fa fa-trash-o"></i>
                        </button>
                    </a>
                    <a href="">
                        <button title="Sửa bài viết" class="btn btn-xs btn-info btn-round text-center">
                            <i class="ace-icon fa fa-pencil"></i>
                        </button>
                    </a>
                </td>
                <!-- kết thúc phần xóa  -->
            </tr>
            <tr role="row" class="even">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- phần xóa  -->
                <td class="center">
                    <a data-toggle="modal" data-target="#myModal1">
                        <button title="Xóa bài viết" type="button"
                                class="btn btn-xs btn-danger btn-round">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>
                    </a> <a href="">
                        <button title="Sửa bài viết" class="btn btn-xs btn-info btn-round">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </button>
                    </a>
                </td>
                <!-- kết thúc phần xóa  -->
            </tr>
            <tr role="row" class="odd">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- phần xóa  -->
                <td class="center">
                    <a data-toggle="modal" data-target="#myModal1">
                        <button title="Xóa bài viết" type="button"
                                class="btn btn-xs btn-danger btn-round">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>
                    </a> <a href="">
                        <button title="Sửa bài viết" class="btn btn-xs btn-info btn-round">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </button>
                    </a>
                </td>
                <!-- kết thúc phần xóa  -->
            </tr>
            <tr role="row" class="even">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- phần xóa  -->
                <td class="center">
                    <a data-toggle="modal" data-target="#myModal1">
                        <button title="Xóa bài viết" type="button"
                                class="btn btn-xs btn-danger btn-round">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>
                    </a> <a href="">
                        <button title="Sửa bài viết" class="btn btn-xs btn-info btn-round">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </button>
                    </a>
                </td>
                <!-- kết thúc phần xóa  -->
            </tr>

        </tbody>
    </table>
    <a href="add.html">
        <button type="button" class="btn btn-white btn-warning btn-round"
                style="margin-right: 5px; position: absolute; right: 20px;">
            <i class="ace-icon fa fa-plus-circle bigger-120 blue"></i> Thêm
        </button>
    </a>
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
<!-- partial -->
        </div>
<!-- main-panel ends -->
