
@{
    ViewBag.Title = "QuanlyDonHang";
    Layout = "~/Views/Shared/_LayoutAdminHeader.cshtml";
}

<!-- partial -->
<div class="col-xs-12">
    <table id="datatable-buttons" class="table table-striped table-bordered dataTable no-footer" role="grid"
           aria-describedby="datatable-buttons_info">
        <thead>
            <tr role="row">
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="SST: activate to sort column ascending" style="width: 50px;">STT</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Tên sản phẩm: activate to sort column ascending" style="width: 200px;">Tên sản phẩm</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Hãnh sản xuất: activate to sort column ascending" style="width: 200px;">Hãng sản xuất</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Giá: activate to sort column ascending" style="width: 150px;">Giá</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Hãng sản xuất: activate to sort column ascending" style="width: 200px;">Tên khách hàng</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Tuổi: activate to sort column ascending" style="width: 50px;">Tuổi</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Địa chỉ: activate to sort column ascending" style="width: 200px;">Địa chỉ</th>
                <th tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1"
                    aria-label="Thao tác: activate to sort column ascending" style="width: 150px;">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- phần xóa  -->
                <td class="center">
                    <a data-toggle="modal" data-target="#myModal1" style="display: inline-block">
                        <button title="Xóa bài viết" type="button" class="btn btn-xs btn-danger btn-round text-center">
                            xác nhận

                        </button>
                    </a>
                    <a href="">
                        <button title="Sửa bài viết" class="btn btn-xs btn-info btn-round text-center">
                            Hủy
                        </button>
                    </a>
                </td>
                <!-- kết thúc phần xóa  -->
            </tr>
            <tr role="row" class="even">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- phần xóa  -->
                <td class="center">
                    <a data-toggle="modal" data-target="#myModal1" style="display: inline-block">
                        <button title="Xóa bài viết" type="button" class="btn btn-xs btn-danger btn-round text-center">
                            xác nhận

                        </button>
                    </a>
                    <a href="">
                        <button title="Sửa bài viết" class="btn btn-xs btn-info btn-round text-center">
                            Hủy
                        </button>
                    </a>
                </td>
                <!-- kết thúc phần xóa  -->
            </tr>
            <tr role="row" class="odd">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- phần xóa  -->
                <td class="center">
                    <a data-toggle="modal" data-target="#myModal1" style="display: inline-block">
                        <button title="Xóa bài viết" type="button" class="btn btn-xs btn-danger btn-round text-center">
                            xác nhận

                        </button>
                    </a>
                    <a href="">
                        <button title="Sửa bài viết" class="btn btn-xs btn-info btn-round text-center">
                            Hủy
                        </button>
                    </a>
                </td>
                <!-- kết thúc phần xóa  -->
            </tr>
            <tr role="row" class="even">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- phần xóa  -->
                <td class="center">
                    <a data-toggle="modal" data-target="#myModal1" style="display: inline-block">
                        <button title="Xóa bài viết" type="button" class="btn btn-xs btn-danger btn-round text-center">
                            xác nhận

                        </button>
                    </a>
                    <a href="">
                        <button title="Sửa bài viết" class="btn btn-xs btn-info btn-round text-center">
                            Hủy
                        </button>
                    </a>
                </td>
                <!-- kết thúc phần xóa  -->
            </tr>

        </tbody>
    </table>

</div>
<!-- main-panel ends -->
